@page
@using System.Text.Json
@model Library.Pages.Admin.DashboardModel
@{
    Layout = "Shared/_LayoutAdmin";
    var x = JsonSerializer.Serialize(Model.OrdersByMonth);
}
<div id="main" style="background-color: #f2f7ff;">
    <header class="mb-3">
        <a href="#" class="burger-btn d-block d-xl-none">
            <i class="bi bi-justify fs-3"></i>
        </a>
    </header>

    <div class="page-heading">
        <h3>Dashboard Statistics</h3>
    </div>
    <div class="page-content">
        <section class="row">
            <!--nhan-->
            <div class="col-12 col-lg-9">
                <div class="row">
                    <div class="col-6 col-lg-4 col-md-6">
                        <div class="card">
                            <div class="card-body px-3 py-4-5">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="stats-icon purple">
                                            <i class="iconly-boldShow"></i>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <h6 class="text-muted font-semibold">Total Books</h6>
                                        <h6 class="font-extrabold mb-0">@Model.CountBook</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-lg-4 col-md-6">
                        <div class="card">
                            <div class="card-body px-3 py-4-5">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="stats-icon blue">
                                            <i class="iconly-boldProfile"></i>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <h6 class="text-muted font-semibold">Total Users</h6>
                                        <h6 class="font-extrabold mb-0">@Model.CountUser</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-lg-4 col-md-6">
                        <div class="card">
                            <div class="card-body px-3 py-4-5">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="stats-icon green">
                                            <i class="iconly-boldAdd-User"></i>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <h6 class="text-muted font-semibold">Orders Today</h6>
                                        <h6 class="font-extrabold mb-0">@Model.CountOrder</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4>Number of orders monthly</h4>
                            </div>
                            <div class="card-body">
                                <div id="chart"></div>
                                <script src="/js/apexcharts.min.js"></script>
                                <script>
                                    var codesJS = new Array();
                                    var codes = @Html.Raw(x);
                                    if (codes != null) {
                                        for (var i = 0; i < codes.length; i++) {
                                            var code = codes[i];
                                            codesJS[i] = code;
                                        }
                                    }
                                    var options = {
                                        annotations: {
                                            position: 'back'
                                        },
                                        dataLabels: {
                                            enabled: false
                                        },
                                        chart: {
                                            type: 'bar',
                                            height: 300
                                        },
                                        fill: {
                                            opacity: 1
                                        },
                                        plotOptions: {
                                        },
                                        series: [{
                                            name: 'orders',
                                            data: codesJS
                                        }],
                                        colors: '#435ebe',
                                        xaxis: {
                                            categories: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
                                        },
                                    };

                                    var chart = new ApexCharts(document.querySelector("#chart"), options);
                                    chart.render();
                                </script>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- het nhan-->
        </section>
    </div>


</div>
